<p-dialog
  [visible]="visible()"
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [closable]="!loading()"
  [style]="{ width: '32rem' }"
  [header]="'public_share.event.dialog_title' | transloco"
>
  <div class="share-dialog__body">
    <label class="share-dialog__toggle-row">
      <span class="share-dialog__label">
        {{ 'public_share.event.toggle_label' | transloco }}
      </span>
      <p-toggleswitch
        [ngModel]="isPublic()"
        (ngModelChange)="onToggle($event)"
        [disabled]="loading()"
        inputId="share_is_public"
      />
    </label>

    @if (publicUrl(); as url) {
      <div class="share-dialog__field">
        <label for="share_url" class="share-dialog__label">
          {{ 'public_share.event.url_label' | transloco }}
        </label>
        <div class="share-dialog__url-row">
          <input
            pInputText
            id="share_url"
            class="share-dialog__url-input"
            [value]="url"
            readonly
            (focus)="$any($event.target).select()"
          />
          <p-button
            type="button"
            icon="pi pi-copy"
            severity="secondary"
            [outlined]="true"
            [label]="'public_share.event.copy' | transloco"
            [ariaLabel]="'public_share.event.copy' | transloco"
            (onClick)="copyLink()"
          />
        </div>
      </div>
    }
  </div>

  <ng-template #footer>
    <p-button
      type="button"
      severity="secondary"
      [text]="true"
      [label]="'public_share.event.close' | transloco"
      [disabled]="loading()"
      (onClick)="onVisibleChange(false)"
    />
  </ng-template>
</p-dialog>
