<div class="place-select__control">
  <p-select
    [inputId]="inputId()"
    [options]="places()"
    [ngModel]="value"
    (ngModelChange)="onSelectChange($event)"
    optionLabel="name"
    optionValue="id"
    [filter]="true"
    [showClear]="true"
    [disabled]="disabled"
    [placeholder]="'place.select_placeholder' | transloco"
    [emptyMessage]="'place.none' | transloco"
    styleClass="place-select__field"
    appendTo="body"
  >
    <ng-template let-place #selectedItem>
      @if (place) {
        <div class="place-select__option">
          <span>{{ place.name }}</span>
          @if (place.address) {
            <span class="place-select__option-sub">{{ place.address }}</span>
          }
        </div>
      }
    </ng-template>
    <ng-template let-place #item>
      <div class="place-select__option">
        <span>{{ place.name }}</span>
        @if (place.address) {
          <span class="place-select__option-sub">{{ place.address }}</span>
        }
      </div>
    </ng-template>
  </p-select>
  <p-button
    type="button"
    severity="success"
    [outlined]="true"
    size="small"
    icon="pi pi-plus"
    [ariaLabel]="'place.add' | transloco"
    [pTooltip]="'place.add' | transloco"
    [disabled]="disabled || teamId() == null"
    (onClick)="openCreate()"
  />
</div>

<p-dialog
  [header]="'place.new' | transloco"
  [visible]="dialogVisible()"
  (visibleChange)="dialogVisible.set($event)"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '28rem' }"
  appendTo="body"
>
  <div class="place-select__form">
    <div class="place-select__field-group">
      <label for="new_place_name" class="place-select__label">
        {{ 'place.name' | transloco }}
      </label>
      <input
        pInputText
        id="new_place_name"
        [ngModel]="newName()"
        (ngModelChange)="newName.set($event)"
        maxlength="255"
        [attr.aria-invalid]="nameError() ? 'true' : null"
      />
      @if (nameError()) {
        <small class="place-select__error">{{ nameError() }}</small>
      }
    </div>
    <div class="place-select__field-group">
      <label for="new_place_address" class="place-select__label">
        {{ 'place.address' | transloco }}
      </label>
      <textarea
        pTextarea
        id="new_place_address"
        [ngModel]="newAddress()"
        (ngModelChange)="newAddress.set($event)"
        maxlength="500"
        rows="2"
        class="place-select__textarea"
      ></textarea>
    </div>
  </div>
  <ng-template #footer>
    <p-button
      type="button"
      severity="secondary"
      [outlined]="true"
      [label]="'common.cancel' | transloco"
      (onClick)="closeCreate()"
    />
    <p-button
      type="button"
      icon="pi pi-check"
      [label]="'place.add' | transloco"
      [loading]="creating()"
      (onClick)="createPlace()"
    />
  </ng-template>
</p-dialog>
