<p-dialog
  [visible]="visible()"
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [closable]="!loading()"
  [style]="{ width: '30rem' }"
  [header]="'events.duplicate.title' | transloco"
>
  <form [formGroup]="form" class="dup-dialog__body">
    <div class="dup-dialog__field">
      <label for="duplicate_date" class="dup-dialog__label">
        {{ 'events.duplicate.date' | transloco }}
      </label>
      <p-datepicker
        inputId="duplicate_date"
        formControlName="date"
        dateFormat="dd/mm/yy"
        [showIcon]="true"
        appendTo="body"
        [disabled]="loading()"
      />
    </div>

    <label class="dup-dialog__toggle-row">
      <span class="dup-dialog__label">
        {{ 'events.duplicate.repeat_weekly' | transloco }}
      </span>
      <p-toggleswitch formControlName="repeat_weekly" [disabled]="loading()" />
    </label>

    @if (repeatWeekly()) {
      <div class="dup-dialog__field">
        <label for="duplicate_occurrences" class="dup-dialog__label">
          {{ 'events.duplicate.occurrences' | transloco }}
        </label>
        <p-inputNumber
          inputId="duplicate_occurrences"
          formControlName="occurrences"
          [min]="2"
          [max]="52"
          [showButtons]="true"
          [useGrouping]="false"
          [disabled]="loading()"
        />
      </div>
    }
  </form>

  <ng-template #footer>
    <p-button
      type="button"
      severity="secondary"
      [text]="true"
      [label]="'common.cancel' | transloco"
      [disabled]="loading()"
      (onClick)="onVisibleChange(false)"
    />
    <p-button
      type="button"
      icon="pi pi-copy"
      [label]="'events.duplicate.submit' | transloco"
      [loading]="loading()"
      [disabled]="!canSubmit()"
      (onClick)="onConfirm()"
    />
  </ng-template>
</p-dialog>
