<div class="page page--narrow">
  <app-page-header [title]="'profile.title' | transloco">
    <p-button slot="left" type="button" severity="secondary" [outlined]="true"
      icon="pi pi-arrow-left" [label]="'common.back' | transloco" [routerLink]="['/dashboard']" />
  </app-page-header>

  @if (user(); as me) {
    <div class="card form-card builder-stack">
      <form [formGroup]="form">
        <p-tabs value="account" class="builder-tabs">
          <p-tablist>
            <p-tab value="account"><i class="pi pi-user tab-icon"></i>{{ 'profile.tab_account' | transloco }}</p-tab>
            <p-tab value="prefs"><i class="pi pi-sliders-h tab-icon"></i>{{ 'profile.tab_prefs' | transloco }}</p-tab>
          </p-tablist>
          <p-tabpanels>
            <p-tabpanel value="account">
              <div class="builder-pane">
                <div class="meta-grid">
                  <app-meta-field [label]="'profile.username' | transloco">
                    <span>{{ me.username }}</span>
                  </app-meta-field>
                  <app-meta-field [label]="'profile.email' | transloco" [hint]="'profile.email_readonly_help' | transloco">
                    <span>{{ me.email }}</span>
                  </app-meta-field>
                  <app-meta-field [label]="'profile.first_name' | transloco" for="first_name" [error]="fieldError('first_name')">
                    <input pInputText id="first_name" formControlName="first_name" autocomplete="given-name" />
                  </app-meta-field>
                  <app-meta-field [label]="'profile.last_name' | transloco" for="last_name" [error]="fieldError('last_name')">
                    <input pInputText id="last_name" formControlName="last_name" autocomplete="family-name" />
                  </app-meta-field>
                  <app-meta-field [label]="'profile.date_joined' | transloco">
                    <span>{{ me.date_joined | date: 'medium' }}</span>
                  </app-meta-field>
                </div>
              </div>
            </p-tabpanel>
            <p-tabpanel value="prefs">
              <div class="builder-pane">
                <div class="meta-grid">
                  <app-meta-field [full]="true" [label]="'profile.language' | transloco" for="language">
                    <p-select inputId="language" formControlName="language" [options]="languages"
                      optionLabel="nativeName" optionValue="code" />
                  </app-meta-field>
                </div>
              </div>
            </p-tabpanel>
          </p-tabpanels>
        </p-tabs>
      </form>

      <app-form-footer [saving]="loading()" [disabled]="form.invalid"
        [cancelLabel]="'common.cancel' | transloco" [saveLabel]="'common.save' | transloco"
        (cancel)="cancel()" (save)="submit()" />
    </div>
  }
</div>
