<app-auth-card
  [icon]="'pi pi-envelope'"
  [title]="'auth.forgot_password_sent.title' | transloco"
>
  <div class="forgot-sent">
    @if (email(); as e) {
      <p class="forgot-sent__body">
        {{ 'auth.forgot_password_sent.body_with_email' | transloco: { email: e } }}
      </p>
    } @else {
      <p class="forgot-sent__body">
        {{ 'auth.forgot_password_sent.body_no_email' | transloco }}
      </p>
    }
    <p class="forgot-sent__hint">
      <i class="pi pi-info-circle forgot-sent__hint-icon" aria-hidden="true"></i>
      {{ 'auth.forgot_password_sent.check_spam_hint' | transloco }}
    </p>

    <a
      [routerLink]="['/login']"
      class="forgot-sent__back"
    >
      <i class="pi pi-arrow-left forgot-sent__back-icon" aria-hidden="true"></i>
      {{ 'auth.forgot_password_sent.back_to_login' | transloco }}
    </a>
  </div>
</app-auth-card>
