<section class="forgot-sent">
  <div class="forgot-sent__bg" aria-hidden="true"></div>
  <div class="forgot-sent__card">
    <div class="forgot-sent__icon">
      <i class="pi pi-send forgot-sent__icon-glyph" aria-hidden="true"></i>
    </div>
    <h1 class="forgot-sent__title">{{ 'auth.forgot_password_sent.title' | transloco }}</h1>
    @if (email(); as e) {
      <p class="forgot-sent__body">
        {{ 'auth.forgot_password_sent.body_with_email' | transloco: { email: e } }}
      </p>
    } @else {
      <p class="forgot-sent__body">
        {{ 'auth.forgot_password_sent.body_no_email' | transloco }}
      </p>
    }
    <p class="forgot-sent__hint">
      <i class="pi pi-info-circle forgot-sent__hint-icon" aria-hidden="true"></i>
      {{ 'auth.forgot_password_sent.check_spam_hint' | transloco }}
    </p>

    <a
      [routerLink]="['/login']"
      class="forgot-sent__back"
    >
      <i class="pi pi-arrow-left forgot-sent__back-icon" aria-hidden="true"></i>
      {{ 'auth.forgot_password_sent.back_to_login' | transloco }}
    </a>
  </div>
</section>
