@if (!isAuthenticated()) {
  <a [routerLink]="['/login']">
    <p-button
      [label]="'public.user_menu.login' | transloco"
      icon="pi pi-sign-in"
      severity="secondary"
      [text]="true"
      size="small"
    />
  </a>
} @else {
  <button
    type="button"
    class="um-trigger"
    [attr.aria-label]="displayName()"
    [attr.aria-haspopup]="'menu'"
    (click)="menu.toggle($event)"
  >
    <i class="pi pi-user" aria-hidden="true"></i>
    <span>{{ displayName() }}</span>
  </button>
  <p-menu #menu [model]="menuItems()" [popup]="true" appendTo="body" />
}
